
@{
    ViewData["Title"] = "Nuevo Paciente";
}

<br />
<br />
<!-- Cuerpo del modal con el formulario -->
<div class="container shadow p-5 bg-white">

    <h3>Nuevo Empleado</h3>

    <form asp-controller="Paciente" asp-action="Guardarpaciente" method="post">
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label">Nombres</label>
            <input asp-for="Nombre" class="form-control" placeholder="Ingrese los nombres" required>
            <span asp-validation-for="Nombre" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Apellido" class="form-label">Apellidos</label>
            <input asp-for="Apellido" class="form-control" placeholder="Ingrese los apellidos" required>
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Edad" class="form-label">Edad</label>
            <input asp-for="Edad" class="form-control" placeholder="Ingrese la edad" required>
            <span asp-validation-for="Edad" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Genero" class="form-label">Genero</label>
            <input asp-for="Genero" class="form-control" placeholder="Ingrese el Genero" required>
            <span asp-validation-for="Genero" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Telefono" class="form-label">Teléfono</label>
            <input asp-for="Telefono" class="form-control" placeholder="Ingrese el teléfono" required>
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Direccion" class="form-label">Dirección</label>
            <input asp-for="Direccion" class="form-control" placeholder="Ingrese la dirección" required>
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn bg-secondary float-end text-white" asp-controller="Paciente" asp-action="Pacientes">Regresar</a>
    </form>

</div>