<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - softwareDeGestión</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/softwareDeGestión.styles.css" asp-append-version="true" />

    <style>
        .tablas{
            position: fixed;
            top: 175px;
            left: 25px;
            right: 25px;
            bottom: 150px;
            padding: 20px;
        }

        .pag{
            position: fixed;
            /*left: 0;*/
            right: 0;
            bottom: 115px;
            padding: 0 25px;
        }

        .detalles {
            position: fixed;
            left: 0;
            /*right: 0;*/
            bottom: 100px;
            padding: 0 25px;
        }
        
        .pag_a{
            background-color: white;
            padding: 2px 6px;
            border-radius: 5px;
            text-decoration: none;
        }

        .div-title-vistas{
            margin: 80px 20px 0 20px;
        }
    </style>

</head>
<body style="background-color: #ecebeb;">
     @if (ViewData["UsuarioActual"] != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: cadetblue;">
            <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Paciente" asp-action="Pacientes"><strong>SISTEMA</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item px-3">
                            
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Paciente" asp-action="Pacientes"> <i class="bi bi-person-fill"></i> Pacientes</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DetallesVistas" asp-action="Medicamentos"> <i class="bi bi-prescription2"></i> Medicamentos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Paciente" asp-action="NuevoPaciente"> <i class="bi bi-person-fill-add"></i> Nuevo Paciente</a>
                            </li>
                     
                    </ul>
                        <span class="navbar-text mx-2">
                            <a class="nav-link text-dark p-0 m-0" asp-area="" asp-controller="Usuarios" asp-action="Index"><strong> <i class="bi bi-person-circle"></i> Usuarios</strong></a>
                        </span>
                        <span class="navbar-text mx-2">
                            <a class="nav-link p-0 rounded m-0 bg-white px-2 text-black" asp-area="" asp-controller="Home" asp-action="CerrarSesion"><strong> <i class="bi bi-box-arrow-left"></i> Cerrar Session</strong></a>
                        </span>
                </div>
            </div>
        </nav>
    </header>
    }

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (ViewData["UsuarioActual"] != null)
    {
        <footer class="border-top footer text-muted fixed-bottom p-3 text-black bg-white" style="line-height: 5px;">
            <div class="container-fluid">
            <p class="text-center">&copy; 2024 - softwareDeGestión</p>
        </div>
    </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
